:root {
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    --text-primary: #000000;
    --text-secondary: #807878;
    --bg-primary: #fcfdc1;
    --bg-secondary: #141418;
}

* {
    box-sizing: border-box;
}

body {
    background-color: white;
    margin: 0;
    padding: 0;
}

/* Navigation */



/* Main */

main {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    color: var(--text-primary)
}

.section {
    border: 2px solid black;
    border-radius: 0.4rem;
    width: clamp(30rem, 70%, 50rem);
    display: flex;
    justify-content: center;
    background-color: var(--bg-primary);
}

.time-container {
    margin: min(10rem, 10vw);
/*     display: inline-block; */
}

.timezone-container{
    text-align: end;
}

#timezone {
    display: inline-block;
    color: var(--text-secondary);
    padding-inline: 0.2em;
    font-size: 1.5rem;
}

#edit {
    display: inline-block;
    background: url('images/edit-icon.svg') no-repeat;
    padding: 0.75rem;
    border: none;
    cursor: pointer;
    vertical-align: top;
}

#time {
    text-align: end;
    font-size: 5rem;
    font-weight: 700;
}

#date {
    text-align: end;
    font-weight: 700;
    font-size: 1.5rem;
}


/* On screens that are 992px or more (TABLET/DESKTOP) */
@media screen and (min-width: 600px) {

    /* MQ Navbar */

    /* MQ Main */

}

/* On screens that are 992px or more (DESKTOP) */
@media screen and (min-width: 992px) {

    /* MQ Navbar */

    /* MQ Main */


}