:root {
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    --text-primary: #000000;
    --text-secondary: #807878;
    --bg-primary: #fcfdc1;
    --bg-secondary: #141418;
}

* {
    box-sizing: border-box;
}

body {
    background-color: white;
    margin: 0;
    padding: 0;
}

/* Navigation */



/* Main */

main {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    color: var(--text-primary)
}

.section {
    border: 2px solid black;
    border-radius: 0.4rem;
    width: clamp(25rem, 70%, 50rem);
    display: flex;
    justify-content: center;
    background-color: var(--bg-primary);
}

.time-container {
    margin: min(10rem, 10vw);
    /*     display: inline-block; */
}

.timezone-container {
    text-align: end;
}

#timezone {
    display: inline-block;
    color: var(--text-secondary);
    padding-inline: 0.2em;
    font-size: 1.5rem;
}

#edit {
    display: inline-block;
    background: url('images/edit-icon.svg') no-repeat;
    padding: 0.75rem;
    border: none;
    cursor: pointer;
    vertical-align: top;
}

#time {
    text-align: end;
    font-size: 5rem;
    font-weight: 700;
}

#date {
    text-align: end;
    font-weight: 700;
    font-size: 1.5rem;
}

.modal {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: hsla(0, 0%, 0%, 0.3);
    backdrop-filter: blur(3px);
    z-index: 1000;
}

[tabindex="-1"]{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;
}

#modal-timezone #modal-window{
    width: 25rem;
    padding: 1rem;
    background-color: rgb(237, 238, 162);
    border-radius: 0.3em;
    border: 2px solid black;
    z-index: 3000;
    margin: 0;
}

#timezone-dropdown{
    outline: 0;
    margin-bottom: 1rem;
    width: 75%;
    border: none;
    background-color: hsla(0, 0%, 100%, 0.3);
    backdrop-filter: blur(6px);
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.1);
    padding: 0.3rem;
    cursor: pointer;
}

#timezone-dropdown *{
    background-color: rgb(236, 236, 185);
}

#modal-timezone #modal-window button{
    border: none;
    background-color: inherit;
    cursor: pointer;
}


.modal.is-open {
    display: block;
}


/* On screens that are 992px or more (TABLET/DESKTOP) */
@media screen and (min-width: 600px) {

    /* MQ Navbar */

    /* MQ Main */

}

/* On screens that are 992px or more (DESKTOP) */
@media screen and (min-width: 992px) {

    /* MQ Navbar */

    /* MQ Main */


}